/*** CSS Variables ***/
:root {
    --lightpink: #f2dce8;
    --black: #090909;
    --yellow: #e0f42c;
    --neonpink: #ff2baa;
    --purple: #541388;
    --turquoise: #45c6b9;
    --gold: #cba328;
    --green: #d6f49d;
    --neongree: #51cb20;
    --blue: #25d0ea;
    --red: #ba2d0b;
    --lightred: #ff5964;
    --lightorange: #f46036;
    --orange: #fe7f2d;
    --almond: #ffe8d1;
}

/*** Custom Fonts ***/
@font-face {
    font-family: 'minecraftmedium';
    src: url('../../fonts/minecraft/webfontkit-20190803-172335/minecraft-webfont.woff2') format('woff2'),
         url('../../fonts/minecraft/webfontkit-20190803-172335/minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minecraftiaregular';
    src: url('../../fonts/minecraftia/webfontkit-20190804-080118/minecraftia-regular-webfont.woff2') format('woff2'),
         url('../../fonts/minecraftia/webfontkit-20190804-080118/minecraftia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* Styling the header */

header {
    background: var(--black);
}

.logo {
    background: var(--black);
}

nav {
    background: var(--turquoise);
}

nav a:hover {
    background: var(--yellow);
    color: var(--neonpink);
}

.welcome::before {
    content: "👋> ";
}

.about::before {
    content: "🙈> ";
}

.artwork::before {
    content: "💣> ";
}

.events::before {
    content: "📅> ";
}

/* Styling the footer */

footer {
    background: var(--purple);
    color: var(--neonpink);
}

.footer-socialmedia-links::before {
    content: "💩 ";
}

.footer-copyright::before {
    content: "🎯 ";
}

.footer-impressum {
    background: var(--yellow);
}

.footer-impressum::before {
    content: "💾--> ";
}