/*** CSS Variables ***/
:root {
    --lightpink: #f2dce8;
    --black: #090909;
    --yellow: #e0f42c;
    --neonpink: #ff2baa;
    --purple: #541388;
    --turquoise: #45c6b9;
    --gold: #cba328;
    --green: #d6f49d;
    --neongree: #51cb20;
    --blue: #25d0ea;
    --red: #ba2d0b;
    --lightred: #ff5964;
    --lightorange: #f46036;
    --orange: #fe7f2d;
    --almond: #ffe8d1;
}

/*** Custom Fonts ***/
@font-face {
    font-family: 'minecraftmedium';
    src: url('../../fonts/minecraft/webfontkit-20190803-172335/minecraft-webfont.woff2') format('woff2'),
         url('../../fonts/minecraft/webfontkit-20190803-172335/minecraft-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'minecraftiaregular';
    src: url('../../fonts/minecraftia/webfontkit-20190804-080118/minecraftia-regular-webfont.woff2') format('woff2'),
         url('../../fonts/minecraftia/webfontkit-20190804-080118/minecraftia-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fippsregular';
    src: url('../../fonts/fipps/webfontkit-20190804-081911/fipps-regular-webfont.woff2') format('woff2'),
         url('../../fonts/fipps/webfontkit-20190804-081911/fipps-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'edit_undo_line_brkregular';
    src: url('../../fonts/edit_undo_line/webfontkit-20190804-082904/edunline-webfont.woff2') format('woff2'),
         url('../../fonts/edit_undo_line/webfontkit-20190804-082904/edunline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'advanced_pixel_lcd-7regular';
    src: url('../../fonts/advanced_pixel_lcd/webfontkit-20190804-084134/advanced_pixel_lcd-7-webfont.woff2') format('woff2'),
         url('../../fonts/advanced_pixel_lcd/webfontkit-20190804-084134/advanced_pixel_lcd-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/******************/
/* Styling the header */
/******************/

header {
    background: var(--black);
    font-family: fippsregular, courier;
}

.logo {
    background: var(--black);
}

nav {
    background: var(--turquoise);
}

nav a:hover {
    background: var(--yellow);
    color: var(--neonpink);
}

.welcome::before {
    content: "👋> ";
}

.about::before {
    content: "🙈> ";
}

.artwork::before {
    content: "💣> ";
}

.events::before {
    content: "📅> ";
}

/************************************/
/* Styling the content of the middle section */
/************************************/

h1 {
    font-family: fippsregular, courier;
}

h2 {
    font-family: minecraftiaregular, courier;
    font-weight: bold;
}

h3 {
    font-family: minecraftiaregular, courier;
}

  figcaption {
    font-family: minecraftmedium, courier;
    font-size: 1em;
    font-style: italic;
    padding: 5px 0 0 0;
}

/********Table********/
/* Zebra coloured rows */
thead {
    background-color: var(--yellow);
}
tbody tr:nth-child(odd) {
    background-color: var(--neonpink);
    color: var(--blue);
}
  tbody tr:nth-child(even) {
    background-color: var(--blue);
    color: var(--neonpink);
}

/*****************/
/* Styling the footer */
/*****************/

footer {
    background: var(--purple);
    font-family: fippsregular, courier;
}

.footer-socialmedia-links::before {
    content: "💩 ";
}
.footer-socialmedia-links a {
    color: var(--green);
}

.footer-copyright::before {
    content: "🎯 ";
}
.footer-copyright {
    color: var(--green);
}

.footer-impressum::before {
    content: "💾--> ";
}
.footer-impressum {
    color: var(--neonpink);
    background: var(--yellow);
}
.footer-impressum a {
    color: var(--neonpink);
}