.logo {
    padding: 5px;
}

nav {
    justify-items: center;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

nav a:hover {
    justify-self: stretch;
}